@page
@model PolybianSquare.Pages.Decrypt.Index

@{
    Layout = "Shared/_Layout";
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="post" asp-antiforgery="true">
                    <label class="fs-6 form-label fw-bolder text-dark">Введите зашифрованный текст:</label>
                    <input type="text" asp-for="EncryptedText" class="form-control mb-4"/>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3>Расшифрованный текст</h3>
                <div class="text-center">
                    @Model.DecryptedText
                </div>
            </div>
        </div>
    </div>
</div>